body {
	margin:120px 20%;
	background-color:#EEE;
}
h1, h3, p, button, select, option {
	color:#333;
	font-family: 'Helvetica Neue Light', 'Calibri Light', sans-serif;
}
h1 { font-size:2em; } h3 {font-size:1.6em; font-weight:300;}
p {
	font-size: 1.3em;
	line-height: 1.4;
}
button[disabled]{
	color:#aaa;
}

#app, #welcome {
	margin:0 auto;
	text-align: center
}

.positiondiv, .suitdiv, .valuediv {
	display:inline-block;
	padding:20px;
	margin:5px;
	border-radius:50%;
	background-color: #ccc;
	cursor:pointer;
	box-shadow:2px 2px darkgray;
	color:black;
}
.suitdiv{
	font-size:2em;
	padding:20px 30px;
}
.valuediv{
	padding:15px 20px;
}
.red {
	color:red;
}
.selected {
	background-color:#333;
	color:white;
}

.correct {
	background-color:darkgreen;
	color:white;
}
.wrong{
	background-color:darkred;
	color:white;
}
.disabled {
	color:#aaa;
}

select, option, button {
	padding:.6em;
}

#scorecolourholder {
	width:100%;
}
.scorecolour {
	width:1.6%;
	display:inline-block;
	background-color:lightgrey;
	border:white solid 1px;
	height:20px;
}
.linebreak { 
	display:none;
}

@media (max-width: 1495px) {
	.linebreak { 
		display:block;
	}
}

