body {
	margin:120px 20%;
	background-color:#EEE;
}
h1, h3, p, button, select, option {
	color:#333;
	font-family: 'Helvetica Neue Light', 'Calibri Light', sans-serif;
}
h1 { font-size:2em; } h3 {font-size:1.6em; font-weight:300;}
p {
	font-size: 1.3em;
	line-height: 1.4;
}
button[disabled]{
	color:#aaa;
}

.positiondiv{
	display:inline-block;
	padding:20px;
	margin:5px;
	border-radius:50%;
	background-color: lightgray;
	cursor:pointer;
	box-shadow:2px 2px darkgray;
}
.positiondiv:focus,.positiondiv:active, .selected {
	background-color:#333;
	color:white;
}

.correct {
	background-color:darkgreen;
	color:white;
}
.wrong{
	background-color:darkred;
	color:white;
}

select, option, button {
	padding:.6em;
}

